
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>


    .dess {
        width: 15% !important;
    }

    .uom {
        width: 11% !important;
    }

    .des {
        width: 9% !important;
    }

    .Net {
        width: 45% !important;
    }

    .QTY {
        width: 11% !important;
    }

    .Zero {
        width: 7% !important;
    }

    .Tax {
        width: 7% !important;
    }

    .Price {
        width: 9% !important;
    }

    .SR {
        width: 4% !important;
    }

    th {
        text-align: right !important;
    }
    /*-----------------------------------------------------New_Ver---------------------------*/
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .modal-contentE {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .closeExpens {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .closeExpens:hover,
        .closeExpens:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

</style>
<body class="materialdesign">
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content animated zoomInRight">
            <span class="close">&times;</span>


            <div class="sparkline8-graph">

                <div class="datatable-dashv1-list custom-datatable-overright">
                    <table id="table" data-toggle="table" data-pagination="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar" style="direction: rtl;">
                        <thead class="Heder">
                            <tr>
                               
                                <th class=" " style="text-align: right; width:2%;">خصم تحت حساب الضريبه</th>
                                <th class=" " style="text-align: right; width: 40%;" data-field="description" data-editable="true"> نوع الخصم</th>
                                <th style="text-align: right; width: 8%;" class="Price" data-editable="true"> النسبه</th> 
                                <th style="text-align: right; width: 5%;" data-editable="true">مبلغ الخصم</th>
                            </tr>
                        </thead>
                        <tbody id="Table_Tax">
                        </tbody>


                    </table>
                    <br />

                    <div class="datatable-dashv1-list custom-datatable-overright">
                        <div class="col-lg-12">
                        </div>

                    </div>

                    <br />
                    <br />
                </div>

            </div>



        </div>

    </div>


    <script>


        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
         


        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                ModalExpens.style.display = "none";
            }
        }

         

    </script>

    @*------------------------------------------------------------------------New_Ver---------------------------------------------*@


    <div class="content-inner-all">


        <div class="inbox-mailbox-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="tab-content">
                                    <div id="inbox" class="tab-pane fade in animated zoomInDown custom-inbox-message shadow-reset active" style="direction: rtl;">

                                        <div class="wrapper-pro">


                                            <!-- Breadcome start-->
                                            <div class="breadcome-area mg-b-30 small-dn">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-12">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="admin-dashone-data-table-area mg-b-15">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="sparkline8-list shadow-reset">
                                                                <div class="sparkline8-hd">
                                                                    <div class="main-sparkline8-hd">
                                                                        <h1 style="text-align: center;">  ادخال فواتير  </h1>
                                                                    </div>
                                                                    <br>
                                                                    <div class="row">

                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <input id="txtDate" type="date" class="form-control" placeholder="dd/mm/yyyy">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>التاريخ</b>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-3">

                                                                            <div class="col-lg-10" style=" width: 74%!important;">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <input id="txtCompanyname" type="text" class="form-control" placeholder="  اسم العميل">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-1" style=" width: 25%!important;">
                                                                                <button id="btnCustSrch" type="button" class="btn btn-custon-four btn-primary">
                                                                                    <i>بحث</i>
                                                                                </button>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>العميل</b>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <input id="txtRFQ" type="text" class="form-control" placeholder="رقم المرجع">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>رقم المرجع</b>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="row">


                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <input id="txtCompanysales" type="text" class="form-control" placeholder="البائع  ">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>البائع</b>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <select id="ddlTypePay" class="form-control">
                                                                                    <option value="1"> Cash </option>
                                                                                    <option value="0"> Credit </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>طريقة الدفع</b>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <select id="ddlCurreny" class="form-control">
                                                                                    <option value="null">  العمله   </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>العمله</b>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="row">



                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <select id="ddlTypeTax" class="form-control">
                                                                                    <option value="null">   اختار </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>نوع الضريبه</b>
                                                                            </div>
                                                                        </div>


                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <select id="ddlValueTax" class="form-control">
                                                                                    <option value="null"> اختار   </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>


                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>ضريبة القيمه المضافه</b>
                                                                            </div>
                                                                        </div>


                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <select id="ddlStatas" disabled class="form-control">
                                                                                    <option value="0"> جديد   </option>
                                                                                    <option value="1"> صحيحه   </option>
                                                                                    <option value="2"> غير صحيحه   </option>
                                                                                    <option value="3"> ملغي  </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>الحاله</b>
                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                    <div class="row">


                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title"> 
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22  ">
                                                                                <input id="txtTaxPrc" value="14" type="text" class="form-control" placeholder=" الضريبة %" style="text-align:center;font-weight: bold;font-size: 20px;">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b class=" ">   الضريبة %</b>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-3">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <select id="ddlTypeInv" class="form-control">
                                                                                    <option value="I"> فاتوره   </option>
                                                                                    <option value="C"> مرتجع   </option>
                                                                                    <option value="D"> أضافه   </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-1">
                                                                            <div class="input-mask-title">
                                                                                <b>   نوع الفاتوره</b>
                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                  
                                                                </div>
                                                                <div class="sparkline8-graph" style="margin-left:2%!important;">
                                                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                                                        <div class="button-ap-list responsive-btn">
                                                                            <button id="btnprint" type="button" class="btn btn-custon-four btn-primary display_none"><i class="fa fa-print"></i>print</button>
                                                                            <button id="btnsave" type="button" class="btn btn-custon-four btn-success" style="font-weight: bold;font-size: 18px;"><i class="fa fa-save"></i>&nbsp; حفظ</button>
                                                                            <button id="btnClean" type="button" class="btn btn-custon-four btn-danger" style="font-weight: bold;font-size: 18px;"><i class="fa fa-empty"></i>مسح الجدول  </button>
                                                                        </div>
                                                                        <div id="DivMassage" class="col-lg-12  margingred  borderred display_none">
                                                                            <h4 id="Text_Massage">Message</h4>
                                                                        </div>
                                                                        <div class="sparkline8-graph">
                                                                            <div class="datatable-dashv1-list custom-datatable-overright">
                                                                                <table id="table" data-toggle="table" data-pagination="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                                                                    <thead>
                                                                                        <tr>

                                                                                            <th data-field=""></th>
                                                                                            <th data-field="id" class="SR" style="">م</th>
                                                                                            <th class="dess" data-field="description" data-editable="true">الصنــف </th>
                                                                                            <th data-field="" class="uom" data-editable="true">   الوحده</th>
                                                                                            <th data-field="" class="QTY" data-editable="true">الكمية</th>
                                                                                            <th data-field="number" class="Price" data-editable="true">السعر  </th>
                                                                                            <th data-field="number" class="Zero" data-editable="true">نسبة الخصم</th>
                                                                                            <th data-field="number" class="des" data-editable="true">الخصم  </th>
                                                                                            <th data-field="number" class="px-3" data-editable="true">   السعر بعد الخصم </th>
                                                                                            @*----------------------------------------------------New_Ver---------------------*@
                                                                                            <th data-field="number" class="Price" data-editable="true"> ضريبة الخصم </th>
                                                                                            <th data-field="number" class="Price" data-editable="true"> الاجمالي  </th>
                                                                                            <th data-field="number" class="Tax px-3" data-editable="true">  نسبة الضريبة %   </th>
                                                                                            <th data-field="number" class="des" data-editable="true">  الضريبة     </th>
                                                                                            <th data-field="number" class="Net" data-editable="true">الصافي</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="Table_Data">
                                                                                    </tbody>
                                                                                </table>
                                                                            </div><br />
                                                                            <div class="btn-group project-list-action">
                                                                                <button id="btnAddDetails" class="btn btn-custon-four btn-success oo"><i class="fa fa-plus"></i></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />





                                                                    <div class="sparkline8-hd">
                                                                        <div class="main-sparkline8-hd">
                                                                            <h1 style="text-align: center;"><b>الاجماليات</b></h1>
                                                                        </div>
                                                                        <br>





                                                                        <div class="row">

                                                                            <div class="col-lg-3">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <input id="txtTotal" type="text" class="form-control" placeholder=" اجمالي بعد الخصم  ">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-1">
                                                                                <div class="input-mask-title">
                                                                                    <b>  اجمالي بعد الخصم  </b>
                                                                                </div>
                                                                            </div>


                                                                            <div class="col-lg-3">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <input id="txtTotalDiscount" type="text" class="form-control" placeholder="الخصم  ">
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-lg-1">
                                                                                <div class="input-mask-title">
                                                                                    <b>  الخصم</b>
                                                                                </div>
                                                                            </div>


                                                                            <div class="col-lg-3">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <input id="txtTotalbefore" type="text" class="form-control" placeholder="الإجمالي  ">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-1">
                                                                                <div class="input-mask-title">
                                                                                    <b>   الإجمالي</b>
                                                                                </div>
                                                                            </div>




                                                                        </div>

                                                                        <div class="row">

                                                                            <div class="col-lg-3">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <input id="txtItemCount" type="text" class="form-control" placeholder="  عدد الأصناف">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-1">
                                                                                <div class="input-mask-title">
                                                                                    <b>      عدد الأصناف</b>
                                                                                </div>
                                                                            </div>



                                                                            <div class="col-lg-3">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <input id="txtNet" type="text" class="form-control" placeholder="الصافى  ">
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-lg-1">
                                                                                <div class="input-mask-title">
                                                                                    <b>الصافى  </b>
                                                                                </div>
                                                                            </div>


                                                                            <div class="col-lg-3">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <input id="txtTax" type="text" class="form-control" placeholder="الضريبة  ">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-1">
                                                                                <div class="input-mask-title">
                                                                                    <b>   الضريبة  </b>
                                                                                </div>
                                                                            </div>




                                                                        </div>



                                                                        <br />

                                                                        <div class="row">

                                                                            <div class="col-lg-3">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <input id="txtPackageCount" type="text" class="form-control" placeholder="اجمالي الكميه  ">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-1">
                                                                                <div class="input-mask-title">
                                                                                    <b>   اجمالي الكميه  </b>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-lg-6">
                                                                                <div class="input-mark-inner mg-b-22">
                                                                                    <textarea id="txtRemark" maxlength="200" name="Remark" type="text" class="form-control" placeholder="الملاحظات"></textarea>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-lg-2">
                                                                                <div class="input-mask-title">
                                                                                    <b>الملاحظات</b>
                                                                                </div>
                                                                            </div>

                                                                        </div>









                                                                    </div>
                                                                    <div class="display_none">
                                                                        <div class="sparkline8-hd">
                                                                            <label>
                                                                                <div class="pull-left pagination-detail">
                                                                                    <span class="pagination-info">
                                                                                        Payment with in
                                                                                        <span>
                                                                                            <span class="btn-group dropup">
                                                                                                <input id="txtfirstdays" type="text" class="form-control" placeholder="Number of days">
                                                                                            </span>days starting from the delivery date.
                                                                                        </span>
                                                                                    </span>
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div class="sparkline8-hd">
                                                                            <label>
                                                                                <div class="pull-left pagination-detail">
                                                                                    <span class="pagination-info">
                                                                                        Offer validity
                                                                                        <span>
                                                                                            <span class="btn-group dropup">
                                                                                                <input id="txtsecounddays" type="text" class="form-control" placeholder="Number of days">
                                                                                            </span>days from offer date.
                                                                                        </span>

                                                                                    </span>
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div class="sparkline8-hd">
                                                                            <label>
                                                                                <div class="pull-left pagination-detail">
                                                                                    <span class="pagination-info">
                                                                                        The delivery will be
                                                                                        <span>
                                                                                            <span class="btn-group dropup">
                                                                                                <input id="txtlastdays" type="text" class="form-control" placeholder="Number of days">
                                                                                            </span>days from purchase order.
                                                                                        </span>
                                                                                    </span>
                                                                                </div>
                                                                            </label>
                                                                        </div>
                                                                        <div class="sparkline8-hd">
                                                                            <label>
                                                                                <div class="pull-left pagination-detail">
                                                                                    <span class="pagination-info">
                                                                                        Place of delivery
                                                                                        <span>
                                                                                            <span class="btn-group dropup">
                                                                                                <input id="txtPlacedeliv" style="width:235%;" type="text" class="form-control" placeholder="Place of delivery ">
                                                                                            </span>
                                                                                        </span>
                                                                                    </span>
                                                                                </div>
                                                                            </label>
                                                                            <div class="row">
                                                                                <div class="col-lg-12">
                                                                                    <label>Thank you and assuring you of our best attention and services at all time.</label>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>

@*<script src="~/ClientApp/Quotation/Quotation.js"></script>*@
<script src="~/ClientApp/Invoice/InvoiceTax.js"></script>